*{
    border: 0;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #333;
}
* {
    font-family: Courier, Monaco, monospace;
}
.hovering_tr td{
    /* background-color: rgb(220, 253, 219) !important; */
    border: 1px solid #aaa !important;
    font-weight: bolder !important;
    color:#000;
}
.selected_tr{
    background-color: #fdbafb !important;
}
td.validate_info{
    width: 100px;
}
td .null_val{
    color: red;
    font-size: 6px;
    -webkit-animation: blink 0.86s steps(1) infinite;
    -moz-animation: blink 0.86s steps(1) infinite;
    animation: blink 0.86s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
@-webkit-keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
@keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
.langtable{
    border:0;
}
.cellkey{
    /* float: right; */
}
.cellkey .word{
    color: blue;
}
.cellmainlang.word{
    background-color: #feffd7;
}
.cellsublang.word{
    background-color: #e2ffe2;
    margin-left: 6px;
}
.row_a{
    background-color: #eee;
}
.row_b{
}
.valinput{
    width: 94%;
    border-top: 1px solid #fdbafb;
    border-bottom: 1px solid #fdbafb;
    font-size: 13px;
    /* background-color: yellow !important; */
}