*{
    border: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #333;
}
* {
    font-family: Courier, Monaco, monospace;
}
#loading{
    color:red;
}
.hovering_tr td{
    /* background-color: rgb(220, 253, 219) !important; */
    font-weight: bolder !important;
    color:#000;
    text-decoration: underline;
}
.selected_tr{
    background-color: #fdbafb !important;
}
td.validate_info{
    width: 30px;
}
td .null_val{
    color: red;
    background: #ecabab;
}
/* td .null_val{
    color: red;
    font-size: 6px;
    -webkit-animation: blink 0.86s steps(1) infinite;
    -moz-animation: blink 0.86s steps(1) infinite;
    animation: blink 0.86s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
@-webkit-keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
@keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
} */
.toolbar{
    height: 20px;
    background-color: yellow;
    position: fixed;
    left:0;top:0;
    width:100%;
}
.langtable{
    margin-top: 20px;
    border:0;
}
.cellkey{
    /* float: right; */
    max-width: 360px;
}
.cellkey .word{
    color: blue;
}
.cellmainlang input{
    background-color: #fdbafb !important;
    color: #444;
}
.cellmainlang.word{
    /* background-color: #feffd7; */
    background-color: #e3f0fd;
}
.cellsublang.word{
    background-color: #97f997;
}
.row_a{
    background-color: #eee;
}
.row_b{
}
.isdirty{
    color: red;
}
.valinput{
    width: 94%;
    border-top: 1px solid #fdbafb;
    border-bottom: 1px solid #fdbafb;
    /* background-color: yellow !important; */
}