*{
    border: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
* {
    font-family: Courier, Monaco, monospace;
}
.toolbar{
    height: 20px;
    background-color: #000;
    position: fixed;
    left:0;top:0;
    width:100%;
    color:white;
}
.toolbar a{
    color:white;
}
#loading{
    color:red;
}
#saveBtn{
    background-color: #97f997;
    border:1px solid #aaa;
    display: none;
}
.hovering_tr td{
    /* background-color: rgb(220, 253, 219) !important; */
    font-weight: bolder !important;
    color:#000;
    text-decoration: underline;
}
.selected_tr{
    background-color: #fdbafb !important;
}
td.validate_info{
    width: 30px;
}
td .null_val{
    color: red;
    background: #ecabab;
}
/* td .null_val{
    color: red;
    font-size: 6px;
    -webkit-animation: blink 0.86s steps(1) infinite;
    -moz-animation: blink 0.86s steps(1) infinite;
    animation: blink 0.86s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
@-webkit-keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
}
@keyframes blink {
  0% { background: #ecabab; }
  50% { background: none; }
  100% { background: #ecabab; }
} */
.unknown_mark{
    color: red;
    background-color: #ecabab;
}
.warn_mark{
    background-color: #f5f54a;
}
.keyword_mark{
    background-color: #a9ea9d;
    margin: 2px;
}
.keyofenter_mark{
    background-color: #dcba90;
}
.langtable{
    margin-top: 20px;
    border:0;
}
.cellkey{
    /* float: right; */
    max-width: 360px;
}
.cellkey .word{
    color: blue;
}
.cellmainlang input{
    background-color: #fdbafb !important;
    color: #444;
}
.cellmainlang.word{
    /* background-color: #feffd7; */
    background-color: #e3f0fd;
    border: 1px dotted #a3a3d4;
}
.cellsublang.word{
    background-color: #ccffab;
    border: 1px dotted #42c73a;
}
.row_a{
    background-color: #eee;
}
.row_b{
}
.isdirty{
    color: red;
}
.valinput{
    width: 94%;
    border-top: 1px solid #fdbafb;
    border-bottom: 1px solid #fdbafb;
    /* background-color: yellow !important; */
}
.popup{
    position: fixed;
    left: 30px;
    top: 30px;
    width: 80%;
    height: 80%;
    background-color: white;
    border: 2px solid orange;
}
.popup .toolbar{
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 20px;
    background-color: #dad8d3;
}
.popup .content{
    margin-top: 20px;
    height: calc(100%-20px);
    overflow-y: auto;
}
.validatereport li div{
    height: 15px;
}
.validatereport .dirtykey{
    color: blue;
}
.validatereport .dirtycn{
    margin-left:20px;
    color: #555;
}
.validatereport .dirtybefore{
    margin-left:20px;
    background-color: #f7b9d3;
}
.validatereport .dirtyafter{
    margin-left:20px;
    background-color: greenyellow;
}
.helptip{
    display: none;
    position: absolute;
    padding-right: 80px;    
    right: 0;
    background-color:yellow;
    border-top: 2px solid #cac3c3;
    border-bottom: 2px solid #cac3c3;
    border-right: 2px solid #cac3c3;
}
.helptip .highlight{
    color: red;
    font-weight: bold;
}