{
    webProjectPath: '',//你的web工程的路径，如果为空，则默认找平级目录下的web工程
    staticProjectPath: '',//【不开放】
    deployWebProjectPath:'',//从144下载的deploy包【不开放】
    http:{
        port: 666 //可以改变http的端口号
    },
    https:{
        port: 443 //可以改变http的端口号
    },
    es6:{
        autoTransformJs: false //自动将es6以上的语法，降级为普通js
    },
    jira:{
        username:'',//你的jira用户名
        password:'' //你的jira密码
    },
    httpConfig:{
        http2: false,//是否开启http2协议
        gzip: true,//是否开启gzip，但稍微消耗cpu
    },
    debug:{
        console: true,
        autoCacheStaticRequests: true,//自动缓存静态资源，建议开启
        autoCacheStaticRequestsLevel2: true,//自动缓存处理过的js文本，内存富余的话建议开启
        
        concatStaticTplRequests: true,//自动聚合tpl静态资源请求
        concatStaticJsRequests: false,//自动聚合js静态资源请求
        concatStaticCssRequests: false,//自动聚合css静态资源请求

        detect404RequireUrls: false  //自动侦测404require，这个比较消耗cpu，慎用
    },
    runtime:{//这里定义一些运行时的状态，约定于jsp里的SESSION变量
        seajsConfig: {//这里是sea-config.js里的同名配置
                vars: {
                    'locale':'zh-cn',
                    'languageCode': 'zh',
                }
            }
    }
}