{
    webProjectPath: '',//default
    staticProjectPath: '',//default
    deployWebProjectPath:'',//default
    http:{
        port: 666
    },
    https:{
        port: 443
    },
    es6:{
        autoTransformJs: false //自动将es6以上的语法，降级为普通js
    },
    jira:{
        username:'',
        password:''
    },
    httpConfig:{
        http2: false,//是否开启http2协议
        gzip: true,//是否开启gzip，但稍微消耗cpu
    },
    debug:{
        console: true,
        autoCacheStaticRequests: true,//自动缓存静态资源，建议开启
        concatStaticTplRequests: false,//自动聚合静态资源请求，目前只支持tpl
        concatStaticJsRequests: false,//自动聚合静态资源请求，目前只支持tpl
        detect404RequireUrls: false  //自动侦测404require，这个比较消耗cpu，慎用
    },
    runtime:{
        seajsConfig: {
                vars: {
                    'languageCode': 'zh-cn',
                }
            }
    }
}