html, body{
	height: 99%;
	font-size: 15px;
}
body{
	padding-left: 10px;
}
*{
	margin: 0;
	padding: 0;
}
.leftpanel{
	width:700px;
	height: 98%;
	float:left;
}
.rightpanel{
	width:calc(100% - 700px);
	height: 98%;
	float:left;
	background-color: #e5f7e3;
}
.actonlist-panel{
	height: 300px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.pathfilterinput{
	width: 400px;
}
.actonlist-panel ul{
	height: 100%;
	width: 100%;
}
.actonlist-panel .actionurl .tag{
	font-size: 11px;
	border: 1px solid #cacaf9;
	background-color: #e7fff5;
	margin-right: 1px;
	padding: 0 1px 0 2px;
}
.actonlist-panel .action404 a{
	color:#e64949;
}
.actonlist-panel .action404 .tag{
	border: 1px solid #ff9f66;
	background-color: #f5cbcb;
}
.actonlist-panel ul a{
	text-decoration:none
}
.actonlist-panel .selected{
	background-color: yellow;
}
.actonlist-panel .mouseover{
	background-color: #eee;
}
.actonlist-panel .mouseover .toolbar{
	background-color: #eee;	
}
.actonlist-panel .toolbar{
	float: right;
	display: inline;
	display:none;
}
.actonlist-panel .toolbar a{
	color: red;
}
.actonlist-panel .mouseover .toolbar{
	display:block;
	display: inline;
}
.actonlist-panel .comp a{
	background-color: #f9f3a9;
}
.editor-panel{
	padding-top: 6px;
	height: 25px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.editor-panel .pathInput{
	width: 508px;
}
.actioncontent-panel{
	height: calc(100% - 338px);
	width: 100%;
}
.actioncontent{
	height: 99%;
	width: 100%;
	color: #111;

}