html, body{
	height: 100%;
}
.actonlist-panel{
	height: 200px;
	width: 60%;
	overflow-y: auto;
	overflow-x: hidden;
}
.actonlist-panel ul{
	height: 100%;
	width: 100%;
}
.actonlist-panel .selected{
	background-color: yellow;
}
.actioncontent-panel{
	height: calc(100% - 200px);
	width: 100%;
	background-color: red;
}
.actioncontent{
	height: 100%;
	width: 100%;
	color: #111;

}