<!doctype html>
<html>
<head>
    <title>离线开发- 404</title>
    <style>
      *{
    background-color: #fbfb97;
      }
    </style>
</head>
<body>
  离线开发运行失败: 
  <p>
    模拟数据不存在: <a href="#">{{fpath}}</a>
  <p>
  请访问115的模拟数据目录<u>\\10.10.0.115\publicwebapp\offlinedev\mocking\</u>，将数据拷贝到工程的/mocking目录
</body>
</html>