*{
    margin: 0; 
    padding: 0;
    font-size: 12px;
    font-family: 'Monaco' !important;
    /* font-family: 'Andale Mono' !important; */
      color: #eee;
  }
  a{
      color: #9c9cff;
  }
  body{
      /* background-color: #FAD500;
      background-color: #ffdc10; */
      background-color: #57bfac;
      color: #88e2cf;
  }
  button{
      color:black !important;
  }
  li{
    list-style: none;
  }
  .infotable{
      margin-bottom: 5px;
      min-width: 500px;
      background-color: #010101a3;
      /* background-color: #010101c2; */
      color: #d5e5ff;
      border-radius:4px;
  }
  .infotable *{
      color: #d5e5ff;
  }
  .infotable td{
      height: 18px;
  }
  .table_title{
    /* background-color: #010101c2; */
    background-color: #0101014d;
  }
  .table_title th{
    border-bottom: 2px dotted #a9a9a9;
  }
  .infotable.subfunctions{
    background-color: #0101014a;
  }  
  .infotable.subfunctions .table_title{
    background-color: #0101014a;
  }
  hr{
    margin:4px 0 4px 0;
    height:1px;
    border:none;
    border-top:1px dashed #666;
  }
  .about{
    position: fixed;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(#d5ffd5, #cacaff) !important;
    background: -o-linear-gradient(#d5ffd5, #cacaff) !important;
    background: -moz-linear-gradient(#d5ffd5, #cacaff) !important;
    background: linear-gradient(#d5ffd5, #cacaff) !important;
    width: 450px;
    font-size: 11px;
    color: #242f26;
    /* font-weight: bold; */
    margin-right: 2px;
    margin-bottom: 2px;
    border-left: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
  }
  .about *{
    color: black;
  }
  .download-btn{
      background-color: #61bd61;
      color:white;
  }
  .download-btn.busy{
      background-color: #ff1b1b;
      color:white;
  }
  @-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
  }
  .Rotation{
      -webkit-transform: rotate(360deg);
      animation: rotation 1s linear infinite;
      -moz-animation: rotation 1s linear infinite;
      -webkit-animation: rotation 1s linear infinite;
      -o-animation: rotation 1s linear infinite;
  }

.logo{
    border-radius: 250px;
    width:32px;
    margin-top: 7px;
    margin-left: 7px;
}
.branchname{
     color:blue;
}
.body{
    margin-left: 20px;
}
.visithistory{
    max-width: 500px;
}
.visithistory li{
    display: block;
    list-style:none;
    padding-left: 20px;
    font-size: 11px;
}
.infomation.loading{
    padding:10px;
    width: 1000px !important;
    min-height:200px;
    background-color: #010101a3;
}
.infomation .user-config{
    color:#ff1b1b;
}
table td{
    padding-left: 1px;
}
.infomation table {
    /* border: 1px solid #eee; */
}

@-webkit-keyframes twinkling{  
    0%{ opacity: 0.1; }  
    100%{ opacity: 1; }  
}  
@keyframes twinkling{  
    0%{ opacity: 0.1; }  
    100%{ opacity: 1; }  
}  
.url{
    font-family: monospace !important;
    font-size: 14px;
}
button{
    background: #0101011c;
    color: #d5e5ff !important;
}
.comment{
    margin-left:2px;
    color:#93a1b7;
}
.status_loading{
    border: 1px solid #2fff56;
    /* background-color: #2fff56; */
    margin:2px;
    padding:1px;
    color: #2fff56;
    -webkit-animation: twinkling 0.5s infinite ease-in-out;
}
.status_positive{
    color:#2fff56 !important;
}
.status_positive *{
    color:#2fff56 !important;
}
.status_negative{
    color: #fb2c2c !important;
}
.status_negative *{
    color: #fb2c2c !important;
}
.status_warn{
    color: yellow !important;
}
.status_warn *{
    color: yellow !important;
}
.status_off{
    color: #7c7e82 !important;
}
.status_off *{
    color: #7c7e82 !important;
}
.status_off_fill{
    color: #7c7e82 !important;
    border: 1px solid #7c7e82 !important;
}
.status_off_fill *{
    color: #7c7e82 !important;
}
.status_dangous_fill{
    color: #fd25cd !important;
    border: 1px solid #fd25cd !important;
}
.status_dangous_fill *{
    color: #fd25cd !important;
}
.status_positive_fill{
    width: fit-content;
    border: 1px solid #2fff56 !important;
    padding-left: 2px;
    padding-right: 2px;
    color: #2fff56 !important;
}
.status_positive_fill *{
    color: #2fff56 !important;
}
.status_negative_fill{
    width: fit-content;
    border: 1px solid #dc0000 !important;
    padding-left: 2px;
    padding-right: 2px;
    color: red !important;
}
.status_negative_fill *{
    color: red !important;
}
.status_warn_fill{
    width: fit-content;
    border: 1px solid #cdce1a !important;
    padding-left: 2px;
    padding-right: 2px;
    color: #ffff7f !important;
}
.status_warn_fill *{
    color: #ffff7f !important;
}
.status_is_on {
    padding:2px;
    width: fit-content;
    color: #2fff56 !important;
}
.status_is_off {
    padding: 2px;
    width: fit-content;
    color: #d1d2d46e !important;
}
.status_is_neutral{
    border: 1px solid #7c7e82 !important;
}
.status_is_positive {
    border: 1px solid #00981d !important;
}
.status_is_warn {
    border: 1px solid #ffff7fc2 !important;
    background-color: #ffff0029 !important;
}
.status_is_dangous {
    border: 1px solid #ff0000c9 !important;
    background-color: #b904045e;
}
.status_is_negative {
    border: 1px solid #fd25cda6 !important;
    background-color: #b9045840;
}
.status_group {

}
.underline {
    text-decoration: underline;
}
.url_pattern{
    background-color: #c8d82f;
}
.projectname{
    /* background-color: #c8d82f; */
}
.projectpath{
    color:blue;
}
.subproject_verify{
    width:980px;
    max-height: 200px;
    overflow-y: auto;
}
.subproject_dup_table {
    border: 1px solid gray;
}
.subproject_dup_table .row_0{
    background-color: red;
}
.subproject_dup_table .row_1{
    background-color: #c5233f;

}